body, .box {
font-family: 'Rubik Mono One', sans-serif;
}
  

/* Otsikko div */
.box  {
  height: 50px;
  width: 100%;
}


/* Animoitu taustakuva */
#animated-background {
    background: linear-gradient(
      to right, #833ab4,
      #fd1d1d, #fcb045);
    background-size: 400% 400%;
  animation: animate-background 10s infinite ease-in-out;
}

@keyframes animate-background {
    0% {
      background-position: 0 50%;
  }
    50%{
      background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
  

table,th,td {
    border : 1px solid black;
    border-collapse: collapse;
  }
  th,td {
    padding: 5px;
  }

#flex-container{
  display: flex;
  flex-direction: row;
  width: 100%;
}


  /* Koko divin muotoilu */
  #tiedot {
    height: 200px;
    width: 100%; 
      border-top-style: solid;
    border-right-style: none;
   border-bottom-style: solid;
   border-left-style: none;
    border-radius: 8px;

  }
      /* Tekstin tietokentän muotoilu */
  p {
    margin: auto;
    width: 60%;
    padding: 10px;


  }
  /* Reunus kaikille kuville */
  img {
    padding: 10px;
  }

/* Elokuvan logon koko */
  img#logo {
    width:120px;
    height:160px;
  }





.box {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box select {
  background-color: #833ab4;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 15px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 5px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}